@using Microsoft.AspNetCore.Http
@model Hostel_Management.Models.Student

@{
    ViewData["Title"] = "Details";
    var isAdminLoggedIn = Context.Session.GetString("AdminEmail") != null; // Check if admin is logged in
    var studentIdString = Context.Session.GetString("StudentID"); // Get the student ID from session
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DOB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DOB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EntryDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EntryDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsAdmitted)
        </dt>
        <dd class="col-sm-10">
            @(Model.IsAdmitted ? "True" : "False")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Room Number")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.RoomID)
        </dd>
    </dl>

    @if (!isAdminLoggedIn) // Check if admin is not logged in
    {
        <div>
            <a asp-controller="LeaveRequest" asp-action="RequestLeave" asp-route-id="@Model.StudentID" class="btn btn-info">Request Leave</a>
            <a asp-controller="LeaveRequest" asp-action="MyLeaveRequest" class="btn btn-primary">View My Leave Requests</a> <!-- New button -->

        </div>

       
    }
</div>
