@model Hostel_Management.Models.Room

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfBeds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfBeds)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfFans)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfFans)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfTables)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfTables)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfChairs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfChairs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsOccupied)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsOccupied)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RoomID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
