@model IEnumerable<Hostel_Management.Models.LeaveRequest>

@{
    ViewData["Title"] = "Leave Requests";
}

<div class="container mt-5">
    <h1 class="text-center">Leave Requests</h1>

    <table class="table table-bordered table-striped">
        <thead class="table-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.reason)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApprovedByAdmin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Student.StudentID)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.reason)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApprovedByAdmin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.StudentID)
                    </td>
                    <td>
                        @if (!item.ApprovedByAdmin)
                        {
                            <form asp-action="Approve" method="post" class="d-inline">
                                <input type="hidden" name="id" value="@item.LeaveRequestID" />
                                <input type="submit" value="Approve Leave" class="btn btn-success" />
                            </form>
                        }
                        else
                        {
                            <span class="text-success">Approved</span>
                        }
                        |
                        <a asp-action="Edit" asp-route-id="@item.LeaveRequestID" class="btn btn-warning btn-sm">Edit</a>
                        |
                        <a asp-action="Delete" asp-route-id="@item.LeaveRequestID" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="text-center mt-3">
        <a asp-controller="Admin" asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
